* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;

    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;             
    -webkit-user-select: none;                  
}

h1 {
    font-size:24px;
}

.tabs {
    xheight: 100%;
}

#page1 {
    height: 100%;
}

#start-page,#main-page {
	display: none;
}

#main-page {
    padding: 0;
    height: 100%;
    /*overflow: hidden;  change to auto when too much info text */
}
.header-logo {
    width: 100%;
}

.map {
    width: 100%;
    height: 520px;	
    /* final height will be calculated in JS */
    xheight: 100%;
}

.bottompanel {
    position: absolute;
    bottom: 0px;
    margin-right: auto;
    margin-right: auto;
    width: auto;
	right:0;
	left: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.65);
    color: white;
    text-shadow: none;
    display: none;
}
.bottompanel label,
.bottompanel .label {
    color: white;
    font-weight: bold;
}

#start-menu {
    display: block;
}
#start-menu-contribute {
	font-size:16px;
}
#start-menu-my, #start-menu-all, #start-menu-about {
	font-size:15px;
}

.comfort .label {
	font-size:18px;
}

.confirmation {
	font-size:15px;
}


#comfort_next {	
	position: absolute;
    bottom: 5px;
    right: 0;
}

#adj-label {
	font-size:20px;
}
#adj_next {	
	position: absolute;
    right: 0%;
}

#checkbox-conx-label {
	color: white;
    text-shadow: none;
	font-size: 20px;
    font-weight: bold;
}
#conx_next {	
	position: absolute;
    right: 0%;
}

#info {
	display: none;
	padding:5px;
}
.text_about {
	font-size:12px;	
}

.legend {
    line-height: 10px;
    color: #555;
	background-color: rgba(255,255,255,0.9);
	display:none;
	padding:3px;
}
.legend i {
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 1px;
    opacity: 0.9;
}


.ui-slider input[type=number] {
    display: none;
}

.ui-slider .ui-slider-track {
    margin: 0 15px;
}

.slider-ticks {
    position: relative;
    height: 8px;
    margin: -8px 15px 2px;
}
.slider-ticks .tick {
    position: absolute;
    top: 0;
    height: 100%;
    border-left: 2px solid white;
}
.slider-ticks .tick-1 {
    left: 1%;
}
.slider-ticks .tick-2 {
    left: 16.6%;
}
.slider-ticks .tick-3 {
    left: 33.3%;
}
.slider-ticks .tick-4 {
    left: 50%;
}
.slider-ticks .tick-5 {
    left: 66.6%;
}
.slider-ticks .tick-6 {
    left: 83.3%;
}
.slider-ticks .tick-7 {
    left: 99%;
}
.slider-labels {
    position: relative;
    height: 16px;
    margin: 0 15px 5px;
}
.slider-labels .label {
    position: absolute;
    top: 0;
	font-size:14px;	
}
.slider-labels .label-1 {
    left: 0%;
}
.slider-labels .label-7 {
    text-align: right;
    right: 0%;
}

/* Tablets in portrait mode */
@media (min-height: 800px) {
	.legend {
		font-size: 14px;
	}
	.legend-images{
		width: 15px;
		height:15px;
	}
	body {
		font-size:15px;
	}
	.text_about {
		font-size:15px;	
	}
}

/* Tablets in portrait mode */
@media (max-height: 520px) {
	body, input, select, textarea, button, .ui-btn {
		line-height:0.5;
	}
	#mymap-stat,#allmap-stat, .text_about,#start-page, #gender-button, #birthyear-button, #workstatus-button, #adj-button{
		line-height:1;
	}
 
}

/* Landscape layout */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}
