* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;

    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;             
    -webkit-user-select: none;                  
}

h1 {
    font-size:24px;
}

.tabs {
    height: 100%;
}

#start-page,#main-page {
	display: none;
}

.map {
    width: 100%;
    height: 520px;	
}

#start-menu {
    position: absolute;
    bottom: 0px;
    margin-right: auto;
    margin-right: auto;
    xwidth: 80%;
	right:10%;
	left: 10%;
    xheight: 300px;
    padding: 10px;
    background-color: rgba(0,0,0,0.4);		
}
#start-menu-contribute {
	color: Blue;
	font-family: verdana;
	font-size:20px;
}
#start-menu-my, #start-menu-all, #start-menu-about {
	color: red;
	font-family: verdana;
	font-size:15px;
}

#slider-comfort {
    position: absolute;
    bottom: 10px;   
	right:10%;
    width: 80%;
    xheight: 200px;
    padding: 10px;
    background-color: rgba(0,0,0,0.4);
	display: none;
}
#slider-comfort-label {
	color: Blue;
	font-family: verdana;
	font-size:20px;	
}

#slider-comfort-label-1 {
	color: red;
	font-family: verdana;
	font-size:15px;
	position: absolute;
    bottom: 65px;
    left: 0%;
}
#slider-comfort-label-7 {
	color: red;
	font-family: verdana;
	font-size:15px;
	position: absolute;
    bottom: 65px;
    right: 0%;
	text-align: right;
}
#comfort_next {	
	position: absolute;
    bottom: 5px;
    right: 0%;
}

#checkbox-adj {
    position: absolute;
    bottom: 10px;   
	right:10%;
    width: 80%;
    xheight: 100px;
    padding: 10px;
    background-color: rgba(0,0,0,0.4);
	display: none;
}
#adj-label {
	color: blue;
	font-family: verdana;
	font-size:20px;
}
#adj_next {	
	position: absolute;
    right: 0%;
}

#checkbox-conx {
    position: absolute;
    bottom: 10px;   
	right:10%;
    width: 80%;
    xheight: 100px;
    padding: 10px;
    background-color: rgba(0,0,0,0.4);
	display: none;
}
#checkbox-conx-label {
	color: blue;
	font-family: verdana;
	font-size:20px;
}
#conx_next {	
	position: absolute;
    right: 0%;
}

#info {
	display: none;
}
#text_about {
	color: blue;
	font-family: verdana;
	font-size:12px;	
}


.ui-slider input[type=number] {
    display: none;
}

.ui-slider .ui-slider-track {
    margin: 0 15px;
}

/* Landscape layout */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}
