* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;

    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;             
    -webkit-user-select: none;                  
}

h1 {
    font-size:24px;
}

.tabs {
    height: 100%;
}

#start-page,#main-page {
	display: none;
}

#main-page {
    padding: 0;
}

.map {
    width: 100%;
    height: 520px;	
}

.bottompanel {
    position: absolute;
    bottom: 0px;
    margin-right: auto;
    margin-right: auto;
    width: auto;
	right:0;
	left: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-shadow: none;
    display: none;
}
.bottompanel label,
.bottompanel .label {
    color: white;
    font-weight: bold;
}

#start-menu {
    display: block;
}
#start-menu-contribute {
	font-size:16px;
}
#start-menu-my, #start-menu-all, #start-menu-about {
	font-size:15px;
}

.comfort .label {
	font-size:15px;
}
.comfort #slider-comfort-label {
    font-weight: bold;
	font-size:20px;	
}

#slider-comfort-label-1 {
	position: absolute;
    bottom: 65px;
    left: 10px;
}
#slider-comfort-label-7 {
	position: absolute;
    bottom: 65px;
    right: 10px;
	text-align: right;
}
#comfort_next {	
	position: absolute;
    bottom: 5px;
    right: 0;
}

#adj-label {
	font-size:20px;
}
#adj_next {	
	position: absolute;
    right: 0%;
}

#checkbox-conx-label {
	color: white;
    text-shadow: none;
	font-size: 20px;
    font-weight: bold;
}
#conx_next {	
	position: absolute;
    right: 0%;
}

#info {
	display: none;
}
#text_about {
	color: blue;
	font-size:12px;	
}


.ui-slider input[type=number] {
    display: none;
}

.ui-slider .ui-slider-track {
    margin: 0 15px;
}

/* Landscape layout */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}
