* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;

    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;             
    -webkit-user-select: none;                  
}


h1 {
    font-size:24px;
}

.tabs {
    height: 100%;
}
.map {
    width: 100%;
    height: 520px;
}

.slider-wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 70%;
    xheight: 100px;
    padding: 10px;
    background-color: rgba(0,0,0,0.3);
}

.ui-slider input[type=number] {
    display: none;
}

.ui-slider .ui-slider-track {
    margin: 0 15px;
}

/* Landscape layout */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}
